body {
    background-color: black;
    margin: 15px;
}

h1 {
    color: white;
    font-size: medium;
    font-weight: 900;
}

#navbar {
    color: white;
    font-size: 10px;
    font-weight: 900;
    margin-top: -15px;
}

#myimage {
    height: 50px;
    width: 100px;
    margin-top: -15px;
}

.mylargeimage {
    height: 420px;
    width: 1300px;
    margin-bottom: 20px;
    /* margin-top: -150px; */
    position: relative;
    margin-top: -10px;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 180px;
    left: 40px;
}

p {
    color: white;
    font-size: 10px;
    font-weight: 500;
    width: 300;
    position: absolute;
    top: 250px;
    left: 40px;
    inline-size: 350px;
    overflow-wrap: break-word;
}


.netflixoriginalimage,
.trandingnowimage,
.actionimage,
.comedyimage,
.romanceimage,
.documentaryimage {
    width: 150px;
    height: 110px;
}

.documentaryimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.romanceimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.trandingnowimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.comedyimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.actionimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.netflixoriginalimage:hover {
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 2s;
}

.alldiv {
    display: flex;
    overflow: scroll;
}
.alldiv::-webkit-scrollbar{
overflow: hidden;
}

.netflixoriginaldiv,
.trandingnowdiv,
.actionnowdiv,
.comedydiv,
.romancediv,
.documentarydiv {
    margin: 6px;
}